
	body{
		color: white !important;
		background-color: black !important;
	}
	#top-row{
		margin-top: 40px;
	}
	#bottom-row{
		position: absolute;
		bottom: 20px;
		width: 100%;
	}
	#map{
		width: 320px; 
		height:300px
	}
	
